@model efcoreApp.Models.QuizViewModel

<h2>Create a New Quiz</h2>
<hr />

<form asp-controller="AdminQuiz" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="QuizName" class="control-label">Quiz Name</label>
        <input asp-for="QuizName" class="form-control" />
        <span asp-validation-for="QuizName" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Submit</button>
</form>