@model Question

<div>
    <p>
        Are you sure about deleting this question?
        <form method="post" action="">
            <input type="hidden" asp-for="@Model.QuestionId" />
            <button type="submit" class="btn btn-danger">Yes</button>
            <a href="/AdminQuiz/Index" class="btn btn-success">No</a>
        </form>
    </p>
</div>