@model Video

<h2 style="text-align:center">Add Video</h2>
<hr />
<form asp-controller="Video" asp-action="Create" method="post">
    <div asp-validation-summary ="All"></div>

    <div class="form-group">
        <label for="KursId">Kurs:</label>
        <select asp-for="KursId" class="form-control" id="KursId" asp-items="@ViewBag.CourseList"></select>
    </div>

    <div class="mb-3">
        <label asp-for="VideoUrl" class="form-label">Video Url</label>
        <input asp-for="VideoUrl" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="VideoTitle" class="form-label">Video Title</label>
        <input asp-for="VideoTitle" class="form-control" />
    </div>   

    <button type="submit" class="btn btn-success">Create</button>
</form>